.services-submenu{
    z-index: 1;
    width: 10rem;
    position: absolute;
    top:69px;
    background: #EAFDFC;
    list-style: none;
    text-align: start;
}

.services-submenu li {
    background: #EAFDFC;
    cursor: pointer;

}

.services-submenu li a:hover {
    background: rgb(0, 175, 175);
  }


.services-submenu.clicked {
    display: none;
  }

.submenu-item{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #181D31;
  padding: 16px;
}   