

.navbar {
    
    height: 9vh;
    background: #1b1919;
    background: #EAFDFC;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-items{
    font-family: "Messi-Semi-Bold";
    
    padding: 5px;
    display: flex;
    list-style: none;
    text-align: center;
    margin : 0 auto;
    justify-content: flex-end;
    font-size: 1.1rem;
    margin-top:15px;
    gap: 2rem;
    height: 8vh;
   
}

/* .nav-items li{
    font-size: 1.1rem;
} */

.nav-items:hover {
    /* background: #EAFDFC ; */
    cursor: pointer;
}

.nav-items a{
    text-decoration: none;
    color: #1A120B;
   
}



.nav-items a:hover{
    color: black;
    border-bottom: 2px solid #205295 ;
}

