@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

@font-face {
  font-family: "Messi";
  src: local("Messina"), url("./fonts/Messina.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Messi-Bold";
  src: local("Messina"), url("./fonts/MessinaSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Messi-Semi-Bold";
  src: local("Messina"), url("./fonts/MessinaSemiBold.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: #e0f2fe;
}

.top {
  /* background-color: #f7f7f7; */
  padding: 15px;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.intro-top {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "Messi-Bold";
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-left: 2px solid #1a120b;
}
.intro-top h3 {
  font-size: 1.3rem;
}
.intro-top p{
  font-family: "Messi-Semi-Bold";
  font-size: 1rem;
}

/* .course-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.course-container-items {
  flex: 0 0 auto;
}

.platform-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.platform-container-items {
  flex: 0 0 auto;
} */

.Home {
  width: 100%;
}

ul li {
  display: block;
  margin-bottom: 1em;
  padding-left: 1em;
}

.time h3 {
  font-size: 1rem;
}

.news {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
}

.news-section {
  width: 600px;
}

.news h4 {
  font-size: 1em;
  padding-top: 1em;
  padding-left: 1rem;
}

.color-text {
  color: #39ff14;
}
.news ul li {
  font-size: 0.9em;
}
.spinner {
  animation: spin infinite 2s linear;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

.fontSize {
  font-size: 0.5 rem;
}

.links {
  text-decoration: none;
  color: black;
}

.carousel {
  /* height: 600px;  */
  width: 100%;
  margin: 0 auto;
}

.welcome {
  padding: 5px;
}

.welcome h2 {
  font-family: "Messi-Semi-Bold";
  color: #197cbe;
  font-size: 1.4em;
}
.welcome p {
  font-family: "Messi";
  font-size: 1.1rem;
  width: 50%;
}

.news-section h4 {
  font-family: "Messi-Semi-Bold";
}

.news-section li {
  font-family: "Messi";
  font-size: 1.7rem;
}

.line {
  height: 5px;
  border-top: 2px solid #9ed5c5;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  margin-bottom: 2em;
}
.footer .foot-head-text {
  font-family: "Messi-Semi-Bold";
}

.footer p {
  font-family: "Messi";
}

.div1 {
  margin-left: 9rem;
}
.div2 {
  display: flex;
  margin-right: 9rem;
 
}
.footer-text {
  background-color: #181d31;
  color: white;
}

.clg-text:hover{
 text-decoration: underline;
}

.inner-div1 {
  margin-left: 30px;
  border-left: 2px solid #9ed5c5;
  padding-left: 10px;
  height: auto;
  line-height: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
