@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

@font-face {
  font-family: "Messi";
  src: local("Messina"), url("./fonts/Messina.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Messi-Bold";
  src: local("Messina"), url("./fonts/MessinaSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Messi-Semi-Bold";
  src: local("Messina"), url("./fonts/MessinaSemiBold.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: #e0f2fe;
}

.top {
  /* background-color: #f7f7f7; */
  background-color: #ffffff;
  z-index: 1;
  padding: 15px;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.intro-top {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: "Messi-Bold";
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-left: 2px solid #1a120b;
}
.intro-top h3 {
  font-size: 1.3rem;
}
.intro-top p {
  font-family: "Messi-Semi-Bold";
  font-size: 1rem;
}

/* .course-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.course-container-items {
  flex: 0 0 auto;
}

.platform-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.platform-container-items {
  flex: 0 0 auto;
} */

.Home {
  width: 100%;
}

ul li {
  display: block;
  margin-bottom: 1em;
  padding-left: 1em;
}

.time h3 {
  font-size: 1rem;
}

.news {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
}

.news-section {
  width: 600px;
}

.news h4 {
  font-size: 1em;
  padding-top: 1em;
  padding-left: 1rem;
}

.color-text {
  color: #39ff14;
}
.news ul li {
  font-size: 0.95em;
}
.spinner {
  animation: spin infinite 2s linear;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

.fontSize {
  font-size: 0.5 rem;
}

.links {
  text-decoration: none;
  color: black;
}

.carousel {
  /* height: 600px;  */
  width: 100%;
  margin: 0 auto;
}

.welcome {
  padding: 5px;
}

.welcome h2 {
  font-family: "Messi-Semi-Bold";
  color: #197cbe;
  font-size: 1.4em;
}
.welcome p {
  font-family: "Messi";
  font-size: 1.1rem;
  width: 50%;
}

.news-section h4 {
  font-family: "Messi-Semi-Bold";
}

.news-section li {
  font-family: "Messi";
  font-size: 1.7rem;
  padding-right: 6px;
}

.line {
  margin-top: 2em;
  height: 5px;
  border-top: 2px solid #9ed5c5;
}

/* Resources */
.link-text{
  text-decoration: none;
  color: black;
}

.univ{
  color: black;

}
.univ:hover{
  color: rgb(164, 111, 111);
  
}

.space-div{
  height: 5rem;
}

.title-header {
  padding-left: 74px;
  padding-right: 74px 0px;
}

.title-header-intro {

  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 83.33333%;
}

.title-header-intro h4{
  font-family: "Messi-Semi-Bold";
   display: inline-block; 
   
 }

/* learn */
.title-header-intro .phil-text{
  font-family: "Messi-Semi-Bold";
  font-size: 28px;
}

.main-principles h4{
  font-family: "Messi-Semi-Bold";
}

.main-principles p{
  font-family: "Messi";
  font-size: 1.2rem;
}

.phil-test-list li{
  font-family: "Messi-Semi-bold";
  line-height: 2;
  font-size: 1.1rem;
  list-style-type: disc;
}

.list-bold{
  text-decoration: underline solid black;
}


.tle-gutter {
  position: absolute;
  top: 30%;
  left: 0;
  width: 110px;
  margin-top: 0;
  padding: 4px;
}

.tle-gutter__title {
  font-family: "Messi-Semi-Bold";
  writing-mode: vertical-lr;

  line-height: 8px;
  left: 0;
}

.tle-gutter__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 3%;
  z-index: -1;
  border: 1px solid rgba(0,0,0,.1);
  width: 2px;
  
}

.bold-text{
  font-weight: 600;
}
.head-text{
  font-family: "Messi-Semi-Bold";
  font-size: 1.8rem;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1em;
}
 .main-text {
  border-top: 2px solid #205295;
 }

 .text-underline{
  font-size: 1.12rem;
  font-family: "Messi";
  text-decoration: underline;
 }
 .text-underline:hover{
  text-decoration: underline blue;

 }




 /* programmes */

 .tables{
  border: 2px solid;
 }
 .tables tr{
  border: 2px solid;
 }
 .tables td{
  border: 1px solid #666;
 }

 .tables td, thead th, tbody td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 20px;
}

.prog-tables{
  display: flex;
  gap: 20%;
}

.prog-tables .table-2{
  height: 3rem;
}


/* About section */

.about-text{
  font-family: "Messi";
  line-height: 1.25;
}

.h-message{
  display: flex;
  gap: 2rem;
  align-items: center;
}
 .h-message-text p{
  font-family: "Messi";
  font-size: 1.2rem; line-height: 1.29;
}


/* people section */

.people-list {
  font-family: "Messi";
  font-size: 1.3rem;

}
.people-list li{
  list-style-type:disc;
}



 /* notices */

 .flex-div{
  display: inline;
}


 .main-text-links{
  
  font-family: "Messi-Semi-Bold";
 
  /* display: flex;
  flex-direction: column; */
 }

 

 .main-text-links p{
  margin: 20px auto;
 }
  

.head-text-learn {
  font-family: "Messi-Bold";
  
}

.head-text-learn h2{
  font-size: 4rem;
}








/* footer css */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.footer .foot-head-text {
  font-family: "Messi-Semi-Bold";
}

.footer p {
  font-family: "Messi";
}

.div1 {
  margin-left: 9rem;
}
.div2 {
  display: flex;
  margin-right: 9rem;
}
.footer-text {
  background-color: #181d31;
  color: white;
}

.clg-text:hover {
  text-decoration: underline;
}

.inner-div1 {
  margin-left: 30px;
  border-left: 2px solid #9ed5c5;
  padding-left: 10px;
  height: auto;
  line-height: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1366px) {
  .tle-gutter__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 4%;
    z-index: -1;
    border: 1px solid rgba(0,0,0,.1);
    width: 2px;
    
  }
 
  .tle-gutter__bg span{
    top: 2%;
  }
}